extends ../base/layout.pug

block title 
  title Productlist

block content 
  -const productListCrumb = [{"content": "Trang chủ", "href": "#"},{"content": "Sản phẩm", "href": "#"},{"content": "Rượu vang đỏ", "href": "#"}]
  -const productsTags = ["Đồng hồ", "Túi", "Phụ kiện", "Giày dép", "Sơ mi", "Nước hoa", "Son", "Rựou"]
  -const menu = {"RƯỢU NGOẠI": [{"type": "Chivas", "number": 16},{"type": "Whisky", "number": 15},{"type": "Remy Martin", "number": 14},{"type": "Ballantine", "number": 13},{"type": "Chivas", "number": 16},{"type": "Whisky", "number": 15},{"type": "Remy Martin", "number": 14},{"type": "Ballantine", "number": 13}], "RƯỢU VANG": [{"type": "Vang pháp", "number": 12},{"type": "Vang Ý", "number": 14},{"type": "Vang Mỹ", "number": 13},{"type": "Vang Chile", "number": 17}]}

  -const productShowTabHeader = [{"icon": "fa-table-cells","id": "grid-control", "control": "grid-display", "selected":"true", "isActive": true},{"icon": "fa-grip-lines","id": "column-control", "control": "column-display", "selected":"false"}]
  -const tabContentProductShow = [{"showType": "grid", "id": "grid-display","controlBy": "grid-control", "show": true,"isActive": true},{"showType": "line", "id": "column-display","controlBy": "column-control"}]

  section(class="products-list")
    .container
      +breadcrumb(productListCrumb)
      img(src="./assets/images/gal-6.jpg" class="products-banner")
      div(class="products-container")
        div(class="products-sidebar")
          div(class="products-menu") 
            h4(class="heading-titary heading-decoration heading-decoration--arrow") DANH MỤC SẢN PHẨM
            each value,key in menu
              div(class="products-menu__group") 
                h5 #{key}
                for item in value 
                  p(class="products-menu__item") #{item.type} 
                    span (#{item.number})
          div(class="products-compare")        
            h4(class="heading-titary heading-decoration heading-decoration--arrow") SO SÁNH SẢN PHẨM
            p Không có sản phẩm nào để so sánh
          div(class="products-tags")  
            h4(class="heading-titary heading-decoration heading-decoration--arrow") TAG SẢN PHẨM
            +tags-list(productsTags)
          img(src="assets/images/products-side.jpg")
        div(class="products-main") 
          div(class="products-controlbar")
            +tabHeader({"tabHeader": productShowTabHeader})
            div(class="products-controlbar__pagination")
              +pagination({"size": 3})
          +tabContents 
            block tabContent
              for tab in tabContentProductShow 
                div(class=`tab-pane fade ${tab.show ? "show" : ""} ${tab.isActive ? "active" : ''}` id=`${tab.id}` rol="tabpanel" aria-labelledby=`${tab.controlBy}`) 
                  div(class=`products-show--${tab.showType}`)

