mixin input(props)
  input(class=`input ${props.nonebg? `input--nonebg` : ""}` placeholder=`${props.placeholder}`)

mixin formInput(props)
  div(class="form-input")
    if props.type == 'textarea'
      label #{props.label}
        textarea(rows="10")
    else     
      label #{props.label}
        input(type=`${props.type}` value=`${props.value ? props.value : ''}`)

mixin checkBox(props)
  div(class="input-checkbox")
    label #{props.label} 
      input(type="checkbox")      
