mixin product(props)
  div(class=`product ${props.state ? `product-state product-state--${props.state}` : ''}`)
    img(src=`${props.img}` class="product-img")
    h4(class="heading-titary") #{props.title}
    div(class="product-price")
      p(class="product-price--discount") #{props.discountPrice}
      p(class="product-price--initial") #{props.initialPrice}
    +button({"title": "ADD TO CART", "size": "xxl"})
    p(class="product-status") #{props.state ? props.state : null}
    div(class="product-hide")
      +product-action
