mixin tabHeader(props)
  ul(class="nav nav-pills" id="pills-tab" role="tablist")
    for tab in props.tabHeader 
      li(class="nav-item" role="presentation")
        button(class=`tab-link ${tab.isActive ? 'active' : ''}` id=`${tab.id}` data-bs-toggle="pill" data-bs-target=`#${tab.control}` type="button" role="tab" aria-controls=`${tab.control}}` aria-selected=`${tab.selected}`) 
          if tab.icon 
            i(class=`fa-solid ${tab.icon}`)
          else  
            p #{tab.text}
mixin tabContents        
  div(class="tab-content" id="pills-tabContent")
    block tabContent
